:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196F3;
  --second-color: #2f303a
}

body {
  font-family: var(--main-font);
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.adress {
  font-style: normal;
}
.light-theme {
  color: #fff;
}
.dark-theme {
  color: #000;
}

/*-------HEADER-------*/
.logo {
  font-family: var(--secondary-font);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.half-logo {
  color: var(--accent-color);
}
.nav-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #000;
}
.selected {
  color: var(--accent-color);
}
.nav-link:hover,
.nav-link:focus .nav-link:active {
  color: var(--accent-color);
}
.phone-mail {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

/*---------END OF HEADER-----*/
/*---------MAIN--------------*/
.first-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
/*-------BUTTONS------*/
.btn {
   color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.btn-list {
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
background: #F5F4FA;
border-radius: 4px;
color: #212121;
}
.btn-list:hover,
.btn-list:focus {
  color: #fff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn:hover,
.btn:focus {
  background-color: #188CE8;
}
/*---------END OF BUTTONS------*/
.banner {
  background-color: var(--second-color);
}
/*-------FEATURES-------*/
.third-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-sub {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/*-------END OF FEATURES-------*/
/*-----OUR JOB-------------*/
.second-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/*-----END OF OUR JOB------*/
/*-----------TEAM--------*/
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: #212121;
}
.team-subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}
/*-----END OF TEAM---------*/
/*--------PICTURES---------*/
.picture-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.picture-subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
/*--------END OF PICTURES---------*/
/*-------FOOTER-----------*/
.bottom {
  background-color: var(--second-color);
}
.adress-map {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.bottom-adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*-------END OF FOOTER-----------*/
/*---------END OF MAIN-------*/
